* {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  transition: background 500ms;
  color: red;
}

.wrapper-4 {
    height: 100%;
    width: 100%;
    background: rgb(158, 64, 64);
  }

.wrapper-3 {
    height: 100%;
    width: 100%;
    background: #8a3232;
}

.wrapper-2 {
  height: 100%;
  width: 100%;
  background: #9e3434;
}

.wrapper-1 {
  height: 100%;
  width: 100%;
  background: red;
}


button {
  height: 100px;
  width: 100px;
  margin: calc(25% - 50px) calc(50% - 50px);
  background: #7d3333;
}

.highlight {
  background: darkred;
}