* {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  transition: background 500ms;
  color: red;
}

.wrapper-4 {
  background: #c15757;
}

.wrapper-3 {
  background: #bb4d4d;
}

.wrapper-2 {
  background: rgb(158, 64, 64);
}

.wrapper-1 {
  background: #8a3232;
}


button {
  height: 100px;
  width: 100px;
  margin: calc(25% - 50px) calc(50% - 50px);
  background: #c87d7d;
}

.highlight {
  background: darkred;
}